@keyframes box-chat__zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0);
    }
    50% {
      opacity: 1;
    }
  }
  
  @keyframes box-chat__zoomOut {
    from {
      opacity: 1;
      transform: scale3d(0, 0, 1);
    }
    50% {
      opacity: 0;
      transform: scale3d(0.5, 0.5, 1);
    }
    to {
      transform: scale3d(1, 1, 1);
      opacity: 0;
    }
  }

.box-chat{
    background-color: white;
    border-radius: 0.75rem;
    padding: 0.25rem;
    height: 32rem;
    width: 27rem;
    overflow: hidden;
    animation: box-chat__zoomIn 0.3s ease-in-out forwards;

    .header{
        height: 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        border-bottom: 1px solid #111111;

        img{
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            margin:  0.35rem;
        }

        .header-left{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 50%;

            h3{
                font-size: 1.1rem;
            }
        }
    }

}

