.message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.15rem;

    // &:hover {
    //     cursor: pointer;
    // }

    .message-left {
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        img {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            margin-right: 0.5rem;
        }
    }

    .message-right {
        line-height: 1rem;
        max-width: calc(100% - 5rem);

        .message-content{
            background-color: #f1f0f0;
            padding:0.5rem 0.5rem 0.5rem 0.5rem;
            
            border-radius: 0.5rem;
            overflow-wrap: break-word;
        }

        .message-btn {
            margin: 0.5rem 0 ;
            width: 100%;
            height: 2rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: none;
            background-color: #388a8d;
            .message-btn-icon {
                font-size: 1rem;
                margin-right: 0.25rem;
            }
            .message-btn-text {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.75rem;
                color: black;
                text-decoration: none;
                
            }

            &:hover {
                opacity: 0.9;
                cursor: pointer;
                .message-btn-text {
                    scale: 1.05;
                }
            }
        }

        .message-img {
            margin-top: .3rem;
            max-width: var(--max-w-message-img);
            max-height: var(--max-h-message-img);
            border-radius: 0.5rem;
        }
    
        .message-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 0.25rem;
        }
        .message-info-time {
            display: block;
            font-size: 0.75rem;
            color: #999999;
            margin-bottom: -.35rem;
        }

        .message-info-options {
            margin-top: 0.5rem;

            .row {
                grid-gap: 0.25rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: stretch;
                &:hover {
                    cursor: pointer;
                }
                .icon {
                    font-size: 1rem;
                    margin-right: 0.25rem;
                }
                .text {
                    font-size: 0.75rem;
                }   

                .col-6 {
                    min-width: 50%;
                    .button-info-options {
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        padding: 0.15rem 0.5rem;
                        border-radius: 0.25rem;
                        line-height: 1rem;
                        background-color: #f1f0f0;
                        border: none;
                        overflow-wrap:break-word ;
                        &:hover {
                            background-color: #ceccccee;
                            cursor: pointer;
                        }
                    }
                }

            }
        }

    }
        
}

.message__me {
    @extend .message;
    justify-content: flex-end;
    .message-right {
        .message-content{
            background-color: #0084ff;
            color: white;
        }
        .message-info-time {
            color: rgb(235, 235, 235);
        }
    }
}