@keyframes box-chat__zoomIn {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: var(--w-chat-box);
    height: var(--h-chat-box);
  }
}
  
  // @keyframes #{$rt-namespace}__zoomOut {
  //   from {
  //     opacity: 1;
  //   }
  //   50% {
  //     opacity: 0;
  //     transform: scale3d(0.3, 0.3, 0.3);
  //   }
  //   to {
  //     opacity: 0;
  //   }
  // }
  
  // .#{$rt-namespace}__zoom-enter {
  //   animation-name: #{$rt-namespace}__zoomIn;
  // }
  
  // .#{$rt-namespace}__zoom-exit {
  //   animation-name: #{$rt-namespace}__zoomOut;
  // }